<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{
  url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <title>Pictionary-Options</title>
</head>
<body>
    <div id="parallax">
        <div data-depth="0.3">
            <img src="{{
  url_for('static', filename='pictures/StarrySky.jpg') }}" width="125%" height="125%">
        </div>
    </div>
    <div class="center">
        <div class="back_card">
            <div class="logo">
                <h1>Pictionary Options</h1>
            </div>
             <form action="/room/{{roomId}}/{{userId}}">
            <input type="text" name="username" class="textbox" placeholder="USERNAME">
            <input type="submit" value="START GAME" class="create_button">
            <!--
              Add Any form elements in this region. Use class "create_button" for the button styling,
              and class "textbox" for input fields.
            -->
        </form>
        </div>
    </div>
</body>
<script>
    var scene = document.getElementById('parallax');
    var parallaxInstance = new Parallax(scene);
</script>
</html>